.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#ignore logs
logs/

#ignore personal configuration files
localhost_cfg.yml

#ignore IDE files
*.iml
